/*
VARS
*/
:root {
    --black: #35363A;
    --white: #FFFFFF;
    --gray: #A8A5A3;
	--purple: #42195F;
	--green: #A4CF57;
    --darkGreen: #75B858;
	--blue: #5AA1CE;
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
/*
RESET
*/
*, *::after, *::before {
	box-sizing: border-box;
}
* {
font: inherit;
margin: 0;
padding: 0;
border: 0;
}
body {
background-color: var(--g-bg-body, white);
}
html,
body {
	height: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, form legend {
	display: block;
}
ol, ul, menu {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
button, input, textarea, select {
	margin: 0;
}
.co-button, .form-control, .link, .reset {
	background-color: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
	color: inherit;
	line-height: inherit;
	appearance: none;
}
select.form-control::-ms-expand {
	display: none;
}
textarea {
	resize: vertical;
	overflow: auto;
	vertical-align: top;
}
input::-ms-clear {
	display: none; // hide X icon in IE and Edge
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, video, svg {
	height: auto;
	max-width: 100%;
}
embed,
iframe,
object {
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
	line-height: 1.1;
}
p, li, figcaption {
	text-wrap: pretty;
}
.bold {
	font-weight: 600;
}
/*
BASE
*/
html {
	background-color: var(--black);
	height: 100%;
	scroll-behavior: smooth;
}
body {
	background-attachment: fixed;
	background-color: var(--green);
	background-image: url(images/BF26-SaveTheDate.jpg);
	background-size: cover;
	background-position: center center;
	color: var(--white);
	font-family: sans-serif;
	font-size: 16px;
	font-size-adjust: 0.49;
	font-weight: normal;
	height: auto;
	line-height: 1.4;
    min-height: 100%;
}
@media (min-width: 1500px) {
	body {
		background-image: url(images/BG-texture-2160.jpg);
	}
}
.fonts-loaded body {
	font-family: "bf-monument", sans-serif;
	font-size-adjust: none;
}
h1, h2 {
	font-family: serif;
	font-size-adjust: 0.49;
}
h2 {
	font-size: min(12vw, 60px);
}
h3 {
	font-size: min(5vw, 40px);
	font-weight: 600;
	margin-bottom: 0.4em;
}
.fonts-loaded h1, .fonts-loaded h2 {
	font-family: sabbath-black, serif;
	font-size-adjust: none;
}
a:link,
a:visited {
	color: var(--green);
	text-decoration: underline;
	transition: color 10s ease;
}
a:hover,
a:active {
	color: var(--blue);
}
p {
	margin-bottom: 1em;
}
ul {
	list-style-type: disc;
	padding-left: 1em;
}
ul {
	margin-bottom: 1em;
}
li {
	margin-bottom: 0.2em
}
@property --button-s1 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}
@property --button-s2 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 130%;
}
@property --button-s3 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 170%;
}
@property --button-s4 {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 300%;
}
.button,
.button:link {
	background-image: linear-gradient(20deg, var(--blue) var(--button-s1), var(--blue) var(--button-s2), var(--green) var(--button-s3), var(--green) var(--button-s4) );
	color: var(--purple);
	display: inline-block;
	padding: 5px 10px;
	transition: --button-s1 1s ease, --button-s2 1s ease, --button-s3 1s ease, --button-s4 1s ease;
}
.button:hover,
.button:focus {
	--button-s4: 100%;
	--button-s3: -130%;
	--button-s2: -170%;
	--button-s1: -200%;
}
.button:link,
.button:visited {
	color: var(--purple);
	text-decoration: none;
}
.shadow {
	position: relative;
}
.shadow::after {
	background-color: var(--purple);
	box-shadow: 0px 0px 40px 40px var(--purple);
	border-radius: 30%;
	content: "";
	height: calc(100% - 40px);
	left: 20px;
	opacity: 0.8;
	position: absolute;
	top: 20px;
	width: calc(100% - 40px);
}
.shadow-child {
	position: relative;
	z-index: 2;
}
.top {
	position: relative;
	z-index: 10;
}

.header {
    height: 100vh;
    max-width: 1020px;
    margin-inline: auto;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}
.header--text {
    max-width: min(50vw, 300px);
    position: absolute;
    right: 30px;
    text-align: right;
    top: 30px;
    z-index: 10;
}
.header--title {
    font-size: min(6vw, 40px);
}
.header--location {
    font-size: min(4vw, 30px);
}
.header--save_the_date {
    height: 95%;
    left: 50%;
    max-height: 95vh;
    max-width: 95vw;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    z-index: 1;
}
.header--date {
    font-family: 'bf-share-tech', monospace;
    font-size: min(10vw, 100px);
    position: absolute;
    z-index: 5;
}
.header--date__start {
    left: 30px;
    top: 30px;
}
.header--date__end {
    bottom: 90px;
    right: 30px;
}