@import "./node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
$ff-montserrat: 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
$c-teal: #00feff;
$c-pink: #f675ff;
$c-orange: #ff9900;
$c-black: #000;
$c-transBlack: transparentize($c-black, 0.5);
$c-white: #fff;
$s-vertical: 60px;
$bp-small: 410px max-width;
$bp-medium: 411px 1110px;
$bp-medium-down: 1110px max-width;
$bp-large: 1111px 1500px;
$bp-large-up: 1111px;
$bp-xlarge: 1501px;
@mixin button {
  background-color: $c-black;
  border: 2px solid $c-white;
  display: inline-block;
  padding: 0.6em 1em;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease;
  &:link,
  &:visited {
    color: $c-white;
    text-decoration: none;
  }
  &:hover,
  &:active,
  &:focus {
    border-color: $c-pink;
    color: $c-white;
    &:before {
      transform: translate( 0.4em, 0.6em );
    }
  }
  &:before {
    background-color: $c-teal;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: transform 0.3s ease-in;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
@mixin center_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}